.logo {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
}

.menuLateral{
    width: 200px;
    background-color: rgb(255, 231, 250);
    padding: 15px;
    border-radius: 10px;
}

.menuLateral ul{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.menuLateral li{
    margin: 7px 0;
}

.caTitulo{
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(79, 60, 222);
}

.menuLateral a{
    text-decoration: none;
    color: rgb(105, 67, 176);
    font-size: 15px;
    padding: 5px;
}

.btn{
    padding: 10px;
    background-color: rgb(98, 86, 179);
    color: white;
    text-decoration: none;
}
