* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9e9;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D9BFA9;
  padding: 10px 20px;
  text-transform: uppercase;
}

.logo {
  width: 120px;
  height: 120px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

header form {
  width: 25%;
  display: flex;
}

header form input {
  flex: 1;
  border-radius: 4px;
  border: none;
  padding: 6px;
}

header form button {
  padding: 6px 10px;
  border-radius: 4px;
  border: solid 1px #333;
  background: #fff;
  cursor: pointer;
}

header form button:hover {
  background: #ddd;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #EFD8C5;
  font-weight: bold;
  padding: 12px;
  margin-top: 40px;
}

.menuLateral {
  width: 15%;
  background-color: #D9BFA9;
  padding: 15px;
  border-radius: 10px;
  margin-right: 20px;
}

.menuLateral h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.menuLateral ul {
  list-style: none;
}

.menuLateral li {
  margin: 6px 0;
}

.menuLateral a {
  color: black;
  text-decoration: none;
}

.menuLateral a:hover {
  text-decoration: underline;
  font-weight: bold;
}

main {
  display: flex;
  padding: 20px;
}

.titulos {
  width: 100%;
  margin-bottom: 15px;
  background-color: #D9BFA9;
  padding: 10px;
  border-radius: 10px;
}

.productos-container,
.contenedor-groceries {
  display: flex;
  flex-wrap: wrap;
}

.producto,
.card {
  width: 31%;
  background: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 1%;
  transition: 0.2s;
}

.producto:hover,
.card:hover {
  transform: scale(1.02);
}

.producto img,
.card img {
  width: 100%;
  max-height: 200px;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

.producto p,
.card p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 8px;
}